@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
  position: relative; /* Needed for pseudo-element positioning */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('wp5761841-in-the-fog-wallpapers.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(2px); /* Adjust the blur effect */
  z-index: -1; /* Ensure the background is behind everything else */
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9); /* White background for the form with transparency */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  position: relative; /* Ensure it's above the background pseudo-element */
}

h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
  font-weight: 500;
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}

label {
  position: absolute;
  left: 15px;
  top: 15px;
  transition: all 0.3s ease;
  opacity: 0.5;
  pointer-events: none;
  font-size: 14px;
  color: #888;
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus + .animated-label,
input:not(:placeholder-shown) + .animated-label {
  top: -10px;
  left: 15px;
  font-size: 12px;
  opacity: 1;
  background-color: #ffffff;
  padding: 0 5px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 18px;
  font-weight: 500;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

#errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
